/*Root Variables*/

:root{
    --grey-light: #f5f6f7;
    --blue-dark: #0a0a23;
    --blue-alt: #163153;
    --orange-light: #e9bc77;
    --orange-dark: #d98129;
    --pink-light: #ffadad;
    --red-dark: #850000;
    --green-light: #acd157;
}


/*General Styles*/

body{
    background-color: var(--blue-dark);
    color: var(--grey-light);
    font-family: Gotham, Metropolis, Figtree, sans-serif;
    font-size: 18px;
}

h1{
    color: var(--green-light);
    text-shadow: 0 0 5px var(--green-light);
    text-align: center;
    margin: 20px auto;
}

fieldset{
    color: var(--orange-dark);
    border-color: var(--orange-light);
    border-radius: 7px;
}

label, legend {
    font-weight: bold;
}

button {
    cursor: pointer;
    text-decoration: none;
}
  
button, input, select {
    min-height: 24px;
    color: var(--blue-dark);
}
  
fieldset, label, button, input, select {
    margin-bottom: 20px;
}


  /*Main Styles*/

.main-container {
    width: 90%;
    max-width: 680px;
}

.main-container {
    margin: 20px auto;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.output {
    border: 2px solid var(--grey-light);
    padding: 10px;
    text-align: center;
}
  
.hide {
    display: none;
}

#budget{
    background-color: var(--orange-light);
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 2px solid var(--blue-dark);
    border-radius: 7px;
}

#entry_dropdown{
    background-color: var(--orange-light);
    padding: 7px;
    font-size: 20px;
    border: 2px solid var(--blue-dark);
    border-radius: 7px;
    cursor: pointer;
}

#add_entry{
    background-color: var(--blue-dark);
    color: var(--orange-dark);
    padding: 7px;
    font-size: 20px;
    border: 2px double var(--orange-dark);
    border-radius: 7px;
}

#add_entry:hover{
    color: var(--green-light);
    border-color: var(--green-light);
}