/*Root Variables*/

:root{
    --grey-light: #f5f6f7;
    --blue-dark: #0a0a23;
    --blue-alt: #163153;
    --orange-light: #e9bc77;
    --orange-dark: #d98129;
    --pink-light: #ffadad;
    --red-dark: #850000;
    --green-light: #acd157;
}